<!DOCTYPE html>
<html>
<head>
    <title>Crossways</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/deps/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dash.css">
</head>
<body>
  <%- include("../partials/navbar") %>
  <div id="page-wrapper">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <%- include("../partials/leftSidebar") %>
        <div class="col-8">
          <div class="row" id="content">
            <% if(error && error.length > 0) { %>
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% } %>
            <% if(success && success.length > 0) { %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
            <% } %>
