          </div>
        </div>
        <%- include("../partials/rightSidebar.ejs") %> 
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/deps/js/socket.io.js"></script>
    <script src="/deps/js/jquery.min.js"></script>
    <script src="/deps/js/popper.min.js"></script>
    <script src="/deps/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>